{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--<link rel="stylesheet" href="">-->
{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col s6 center wordTranslate">
                    <p> {{ word.word }}</p>
                    <p>
                        <strong>{{ word.word }}</strong>
                    </p>
                    <p>
                        {{ word.word }}
                    </p>
                </div>
                <div class="col s2">
                    <a href="#">
                        <i class="material-icons right">search</i>
                    </a>
                </div>
            </div>

            <div class="col s12 center-align">
                {{ word.word }}
            </div>

            <div class="col s12 center-align">
                {{ word.word }}
            </div>
        </div>
    </main>
    <footer>

    </footer>
{% endblock %}