{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/word.css') }}">
{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <section class="word searchNav">
                <div class="row">
                    <div class="center-align wordTranslate">
                        <p>
                            <strong>{{ word.word }}</strong>
                        </p>
                        <p>
                            {{ word.word }}
                        </p>
                    </div>
                    <div class="right-align">
                        <a href="#" data-target="search-on">
                            <i class="material-icons">search</i>
                        </a>
                    </div>
                    <div class="col s10 m8 x8 xl8">
                        {{ render(controller("LaccesBundle:Default:searchBarre")) }}
                    </div>
                </div>
            </section>

            <section class="video">
                <div class="col s12 center">
                    <!--
                    <object width="425" height="344" data="{{ word.videoLink }}"></object>

                    <embed src="{{ word.videoLink }}" allowfullscreen="true" width="425" height="344">

                    <iframe width="425" height="344" src="{{ word.videoLink }}" frameborder="0" allowfullscreen></iframe>
                    -->
                    <iframe width="560" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

                <div class="col s12 center-align">
                    <iframe width="560" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });

    </script>
{% endblock %}