{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/word.css') }}">
{% endblock %}

{% block title %}
    Mot
{% endblock %}

{% block body %}

    <main class="container-main container-main-nav">
        <div class="container">
            <!--
            <section class="word">
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large background-color-orange-lacces">
                        <i class="large material-icons">view_module</i>
                    </a>
                    <ul>
                        <li>
                            <a class="btn-floating ">
                                <i class="material-icons">search</i>
                                <i class="material-icons" id="material-icons-clear">clear</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            -->

            <section class="word">
                <div id="row-box-word">
                    <div id="icon-search" >
                        <p>
                            <a class="slide btn-floating btn-large waves-effect">
                                <i class="material-icons" id="material-icons-clear">clear</i>
                                <i class="material-icons" id="material-icons-search">search</i>
                            </a>
                        </p>
                    </div>
                    <div id="search-box" class="">
                        <p>
                            {% include('@Lacces/SearchBarre/searchBarre.html.twig') %}
                        </p>
                    </div>

                    <div class="row">
                        <div id="row-box">
                            <div class="word-box">
                                <div class="center-align word-translate">
                                    <p>
                                        <strong>{{ word.word }}</strong>
                                    </p>
                                    <p>
                                      <span>
                                        {% if langue == "fr" %}
                                          {% for w in word.wordEns %}
                                            {{ w.word }}
                                          {% endfor %}
                                        {% else %}
                                          {% for w in word.wordFrs %}
                                            {{ w.word }}
                                          {% endfor %}
                                        {% endif %}
                                      </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="container" id="container-video">
            <section class="video"><!--
                <div class="col s12 m12 x5 xl5 center">
                    <div class="container-video center">
                        <iframe width="560" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="container-video-over">
                        <a class="btn-floating btn-large waves-effect" href="#">
                            <i class="material-icons">play_arrow</i>
                        </a>
                    </div>
                </div>
                <div class="col s12 m12 x5 xl5 center">
                    <div class="container-video center">
                        <iframe width="auto" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>-->
                <div class="main-container">
                    <div class="container-video1">
                        <div class="container-video center">
                            <iframe width="" height="" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <a href="">
                            <div class="row center contextSentence">
                                <p>{{ word.contextSentence }}</p>
                            </div>
                        </a>

                        <a href="">
                            <div class="container-video-over1">
                                <a class="btn-floating btn-large waves-effect btn-play" href="">
                                    <i class="material-icons">play_arrow</i>
                                </a>
                            </div>
                        </a>
                    </div>

                    <div class="container-video2">
                        <div class="container-video center">
                            <iframe width="" height="" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <a href="">
                            <div class="row center contextSentence">
                                <p>{{ word.contextSentence }}</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="container-video-over2">
                                <a class="btn-floating btn-large waves-effect btn-play" href="">
                                    <i class="material-icons">play_arrow</i>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>

            </section>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js_for_views/word.js') }}"></script>
{% endblock %}
