{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/word.css') }}">
{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <section class="word">
                <div class="row center-align">
                    <div id="row-box">
                        <div class="word-box">
                            <div class="center-align word-translate">
                                <p>
                                    <strong>{{ word.word }}</strong>
                                </p>
                                <p>
                                    {{ word.word }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="icon-search" >
                    <a class="slide btn-floating btn-large waves-effect grey lighten-3 " href="#">
                        <i class="material-icons">search</i>
                    </a>
                </div>
                <div id="search-box" class="">
                    {{ render(controller("LaccesBundle:Default:searchBarre")) }}
                </div>
            </section>

            <section class="video">
                <div class="col s12 center">
                    <!--
                    <object width="425" height="344" data="{{ word.videoLink }}"></object>

                    <embed src="{{ word.videoLink }}" allowfullscreen="true" width="425" height="344">

                    <iframe width="425" height="344" src="{{ word.videoLink }}" frameborder="0" allowfullscreen></iframe>
                    -->
                    <iframe width="560" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col s12 center-align">
                    <iframe width="560" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
    {% block javascripts %}

    <script src="{{ asset('js/js_for_views/word.js') }}"></script>
{% endblock %}
