{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/word.css') }}">
{% endblock %}

{% block title %}
    Mot {{ word.word|lower }}
{% endblock %}

{% block body %}
    <div class="container-body">
        <main>
            <div class="container">
                <div class="container-main-flex">
                    <div id="search-box" class="">
                        <p>
                            {% include('@Lacces/SearchBarre/searchBarre.html.twig') %}
                        </p>
                    </div>
                    <section>
                        <div class="row">
                            <div class="card center">
                                <div class="card-content">
                                    <p class="flow-text">
                                        <strong>{{ word.word|lower }}</strong>
                                    </p>
                                    <p class="flow-text">
                                        {% if langue == "fr" %}
                                            {% for w in word.wordEns %}
                                                {{ w.word|lower }}
                                            {% endfor %}
                                        {% else %}
                                            {% for w in word.wordFrs %}
                                                {{ w.word|lower }}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="container-video">
                        <div class="row">
                            <div id="card-video-1" class="col s12 m6 x6 offset-x3">
                                <article>
                                    <div class="card center">
                                        <div class="card-image">
                                            <div class="video-container">
                                                <a id="block-video-1" class="block-video">
                                                    <div class="block grey">
                                                        <i class="material-icons white-text large">play_circle_outline</i>
                                                        <span class="card-title">Langue des signes française</span>
                                                    </div>
                                                </a>
                                                <iframe id="video1" width="1100" height="619" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div id="context-sentence-block-video-1" class="context-sentence card-content">
                                            <p class="flow-text">
                                                {{ word.contextSentence }}
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div id="card-video-2" class="col s12 m6 x6 offset-x3">
                                <article>
                                    <div class="card center">
                                        <div class="card-image">
                                            <div class="video-container">
                                                <a id="block-video-2" class="block-video">
                                                    <div class="block grey">
                                                        <i class="material-icons white-text large">play_circle_outline</i>
                                                        <span class="card-title">American sign language</span>
                                                    </div>
                                                </a>
                                                <iframe id="video" width="1100" height="619" src="https://www.youtube.com/embed/D6ofFxMTEMY?rel=0{#{{ word.videoLink }}#}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div id="context-sentence-block-video-2" class="context-sentence card-content">
                                            <p class="flow-text">
                                                {% if langue == "fr" %}
                                                    {% for w in word.wordEns %}
                                                        {{ w.contextSentence }}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for w in word.wordFrs %}
                                                        {{ w.contextSentence }}
                                                    {% endfor %}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                </div>
            </div>


            <div class="fixed-action-btn click-to-toggle direction-top">
                <a class="btn-floating btn-large pulse background-color-orange-lacces">
                    <i class="large material-icons white-text">add</i>
                </a>
                <ul>
                    <li>
                        <a class="btn-floating tooltipped background-color-violet-lacces" data-position="left" data-tooltip="Affichez les phrases de contextualisation" id="display-sentences">
                            <i class="material-icons white-text">view_list</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating tooltipped background-color-violet-lacces" data-position="left" data-tooltip="Affichez les vidéos" id="display-videos">
                            <i class="material-icons white-text">video_library</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating tooltipped background-color-violet-lacces" data-position="left" data-tooltip="Lire les vidéos" id="play-videos">
                            <i class="material-icons "white-text>play_circle_filled</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating tooltipped background-color-violet-lacces" data-position="left" data-tooltip="Effectuez une recherche"{#href=""#} id="search-box-click" data-target="search-box">
                            <i class="material-icons white-text">search</i>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js_for_views/word.js') }}"></script>
{% endblock %}
