{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/word.css') }}">
{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <section class="word">
                <div id="#content">
                    <div id="icon-search" >
                        <p>
                            <a class="slide btn-floating btn-large waves-effect" href="#">
                                <i class="material-icons" id="material-icons-clear">clear</i>
                                <i class="material-icons" id="material-icons-search">search</i>

                            </a>
                        </p>
                    </div>
                    <div id="search-box" class="">
                        <p>
                            {{ render(controller("LaccesBundle:Default:searchBarre")) }}
                        </p>
                    </div>


                    <div class="row">
                        <div id="row-box">
                            <div class="word-box">
                                <div class="center-align word-translate">
                                    <p>
                                        <strong>{{ word.word }}</strong>
                                    </p>
                                    <p>
                                        {{ word.word }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="video"><!--
                <div class="col s12 m12 x5 xl5 center">
                    <div class="container-video center">
                        <iframe width="560" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="container-video-over">
                        <a class="btn-floating btn-large waves-effect" href="#">
                            <i class="material-icons">play_arrow</i>
                        </a>
                    </div>
                </div>
                <div class="col s12 m12 x5 xl5 center">
                    <div class="container-video center">
                        <iframe width="auto" height="315" src="{{ word.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>-->
                <div class="main-container">
                    <div class="container-video1">
                        <a class="btn-floating btn-large waves-effect btn-play" href="#">
                            <i class="material-icons">play_arrow</i>
                        </a>
                    </div>

                    <div class="container-video2">
                        <a class="btn-floating btn-large waves-effect btn-play" href="#">
                            <i class="material-icons">play_arrow</i>
                        </a>
                    </div>
                </div>

            </section>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js_for_views/word.js') }}"></script>
{% endblock %}
