<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}L@cces - Accueil{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


    <nav class="nav-wrapper grey lighten-5">
        <div id="container_logo_lacces">
            <a href="#" class="brand-logo center"> <img id="logo_lacces" src="{{ asset('pictures/logo/logo_lacces.png') }}"/></a>
        </div>
        <a href="#" class="sidenav-trigger show-on-large" data-target="slide-out">
            <i class="material-icons">menu</i>
        </a>
    </nav>

    <ul class="sidenav grey lighten-5" id="slide-out">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Signaire LSF</a></li>
        <li><a href="#">Signaire ASL</a></li>
        <li><a href="#">Exercices</a></li>
    </ul>

        {% block body %}{% endblock %}
    </body>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/materialize.min.js') }}"></script>
            <script src="{{ asset('js/menu.js') }}"></script>
            <script>
                $(document).ready(function () {
                    $('.sidenav').sidenav();
                });
            </script>
        {% endblock %}
</html>
