<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}L@cces - Accueil{% endblock %}</title>        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/searchBarre.css') }}">
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="nav-wrapper">
        <nav class="nav-wrapper white">
            <a href="#" class="sidenav-trigger show-on-large" data-target="slide-out">
                <i class="material-icons waves-button-input waves">menu</i>
            </a>
            <div id="container_logo_lacces">
                <a href="#" class="brand-logo center"> <img id="logo_lacces" src="{{ asset('pictures/logo/logo_lacces.png') }}"/></a>
            </div>
        </nav>
    </div>

    <ul class="sidenav white" id="slide-out">
        <li>
            <a class="sidenav-close" href="#">
                <i class="material-icons">arrow_back</i>
            </a>
        </li>
        <li class="bold active">
            <a class="waves-effect" href="#">Accueil</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect">Signaires<i class="material-icons right" id="material-icons_arrow_drop_down">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="white">
                                <a class="waves-effect" href="#">Langue des signes Française</a>
                            </li>
                            <li class="white">
                                <a class="waves-effect" href="#">Langue des signes Américaine</a>
                            </li>
                            <li>
                                <div class="divider"></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold">
            <a class="waves-effect" href="#">Exercices</a>
        </li>
    </ul>

        {% block body %}{% endblock %}
    </body>

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/materialize.min.js') }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });

        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
    {% block javascripts %}
    {% endblock %}
</html>
