<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>L@cces - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ asset('css/jquery_materialize/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery_materialize/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/base/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/base/baseMQ768.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/base/baseMQ602.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/searchBarre.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/radio.css') }}">
        {% block stylesheets %}

        {% endblock %}

        <script src="{{ asset('js/jquery_materialize/jquery.js') }}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="theme-color" content="#f4a733">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar-fixed">
            <div class="nav-wrapper">
                <nav class="nav-wrapper white">
                    <div class="btn-menu">
                        <a href="" class="sidenav-trigger show-on-large" data-target="slide-out">
                            <i class="material-icons">menu</i>
                        </a>
                    </div>
                    <div id="container_logo_lacces">
                        <a href="{{ asset('') }}" class="brand-logo center">
                            <img id="logo_lacces" alt="Logo L@cces" src={{ asset('pictures/logo/logo_lacces.png') }}/>
                        </a>
                    </div>
                    <div class="nav-link">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="btn waves-effect background-color-orange-lacces white-text center btn-log">
                                <a href="{{ path('administration') }}">
                                    Administration
                                </a>
                            </div>
                            <div class="btn waves-effect background-color-violet-lacces white-text center btn-log">
                                <a href="{{ path('logout') }}">
                                    Déconnexion
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>

        <ul class="sidenav white" id="slide-out">
            <li class="sidenav-close">
                <a class="sidenav-close waves-effect">
                    <i class="material-icons">arrow_back</i>
                </a>
            </li>
            {% if app.request.attributes.get('_route') == 'lacces_homepage' %}
            <li class="bold active active-item-menu background-color-orange-lacces">
            {% else %}
            <li class="bold">
            {% endif %}
                <a class="waves-effect" href="{{ asset('') }}">Accueil</a>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    {% if app.request.attributes.get('_route') == 'lacces_signaire_fr' or app.request.attributes.get('_route') == 'lacces_signaire_en' %}
                    <li class="bold active" id="sng">
                    {% else %}
                    <li class="bold" id="sng">
                    {% endif %}
                        <a class="collapsible-header waves-effect" id="collapsible-header-click">Signaires<i class="material-icons right" id="material-icons_arrow_drop_down">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                {% if app.request.attributes.get('_route') == 'lacces_signaire_fr' %}
                                <li class="active active-item-menu background-color-orange-lacces" id="liImg">
                                {% else %}
                                <li class="white" id="liImg">
                                {% endif %}
                                    <a class="waves-effect" href="{{ asset('signaire/Fr') }}">Langue des signes Française</a>
                                </li>
                                {% if app.request.attributes.get('_route') == 'lacces_signaire_en' %}
                                <li class="active active-item-menu background-color-orange-lacces">
                                {% else %}
                                <li class="white">
                                {% endif %}
                                    <a class="waves-effect" href="{{ asset('signaire/En') }}">American Sign Language</a>
                                </li>
                                <li>
                                    <div class="divider"></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="bold">
                <a class="waves-effect" href="{{ asset('exercices') }}">Exercices</a>
            </li>
                {#
                {% if app.request.attributes.get('_route') != 'lacces_homepage' %}
                    {% if app.request.attributes.get('_route') != 'lacces_contact' %}
                        <li class="bold active active-item-menu background-color-orange-lacces">
                    {% else %}
                        <li class="bold">
                    {% endif %}
                            <a class="waves-effect" href="{{ asset('/contact') }}">Contact</a>
                        </li>
                    {% if app.request.attributes.get('_route') != 'lacces_faq' %}
                        <li class="bold active active-item-menu background-color-orange-lacces">
                    {% else %}
                        <li class="bold">
                    {% endif %}
                            <a class="waves-effect" href="{{ asset('/faq') }}">FAQ</a>
                        </li>
                {% endif %}
                #}

            <li>
                <div class="row">
                    <div class="container-row-icons-menu">
                        <a href="">
                            <div class="container-icons">
                                <img alt="Lien vers la page facebook" src="{{ asset('pictures/icons/facebook-f-white.svg') }}"/>
                            </div>
                        </a>
                        <a href="">
                            <div class="container-icons">
                                <img alt="Partager le l'application" src="{{ asset('pictures/icons/share-alt-white.svg') }}"/>
                            </div>
                        </a>
                        <a href="">
                            <div class="container-icons">
                                <img alt="Lien vers le site du consortium L@cces" src="{{ asset('pictures/icons/globe-white.svg') }}"/>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <noscript class="background-color-orange-lacces white-text center flow-text">
            <div class="container">
                <div class="row">
                    <div class="col s2 m2 x2">
                        <i class="material-icons">warning</i>
                    </div>
                    <div class="col s10 m10 x10">
                        <p>
                            Javascript doit être activé pour une utilisation optimal de l'application !
                        </p>
                    </div>
                </div>
            </div>
        </noscript>
        {% block body %}
        {% endblock %}
    </body>

    <script src="{{ asset('js/jquery_materialize/materialize.min.js') }}"></script>
    <script src="{{ asset('js/jquery_materialize/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/js_for_views/base.js') }}"></script>
    <script src="{{ asset('js/js_for_views/searchBarreFocus.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</html>
