{% extends '@Lacces/Administration/administration.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/css_for_views/signaire.css') }}">

{% endblock %}

{% block title %}Liste des mots{% endblock %}

{% block body %}

    <div class="container-body">
        <main>
            <div class="container">
                {% block message_flash %}
                    {% for msg in app.session.flashBag.get('info') %}
                        <div id="center-message">
                            <div class="message-flash background-color-orange-lacces">
                                <p>{{ msg }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
                <div class="row center">
                    {% if langue == 'fr' %}
                        <a class="btn btn-hover background-color-orange-lacces" href="{{ asset('administration/editData/wordList/en') }}">Passer en Anglais</a>
                    {% else %}
                        <a class="btn btn-hover background-color-orange-lacces" href="{{ asset('administration/editData/wordList/fr') }}">Passer en Français</a>
                    {% endif %}
                    <a class="btn btn-hover background-color-orange-lacces" href="{{ asset('administration/editData/add') }}">Ajouter un mot</a>
                </div>

                <div class="collapsible collapsible-accordion">
                    {% for letter in 'a'..'z' %}
                        <li class="bold">
                            <a class="collapsible-header waves-effect collapsible-ASL">
                                <div id="lettreMaj">
                                    {{ letter|upper }}
                                    <i class="material-icons material-icons_arrow_drop_down" id="fleche">arrow_drop_down</i>
                                </div>
                            </a>
                            <div class="collapsible-body">
                                <table class="highlight">
                                    <tbody>
                                        {% if langue == 'fr' %}
                                            <div id="motFr">
                                                {% for w in wordFr %}
                                                    {% if w.word|first|lower == letter %}
                                                        <tr>
                                                            <td>
                                                                <a class="flow-text" id="word" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/fr') }}">{{ w.word }}</a>
                                                                <a class="flow-text tooltipped right supprimer modal-trigger" id="supprimer" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Supprimer" href="#modal1">
                                                                    <i class="material-icons color-violet-lacces">delete_forever</i>
                                                                </a>
                                                                <a class="flow-text tooltipped right" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Editer" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/fr') }}">
                                                                    <i class="material-icons color-violet-lacces">edit</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            <div id="motEn">
                                                {% for w in wordEn %}
                                                    {% if w.word|first|lower == letter %}
                                                        <tr>
                                                            <td>
                                                                <a class="flow-text" id="word" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/en') }}">{{ w.word }}</a>
                                                                <a class="flow-text tooltipped right supprimer modal-trigger" id="supprimer" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Supprimer" href="#modal1">
                                                                    <i class="material-icons right color-violet-lacces">delete_forever</i>
                                                                </a>
                                                                <a class="flow-text" data-parent="{{ w.id }}" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/en') }}">
                                                                    <i class="material-icons right color-violet-lacces">edit</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </div>
                <div class="row center">
                    <a class="btn btn-hover background-color-orange-lacces" href="{{ asset('administration') }}">Retour</a>
                </div>
            </div>
        </main>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Supprimer le mot </h4>
                <p>Vous allez définitivement supprimer le mot {#"{{ w.word }}" et sa traduction "{{ w.wordEns[0].word }}#}."</p>
            </div>
            <div class="modal-footer">
                <a id="confirmDelete" href="#!" class="modal-close waves-effect waves-green btn-flat">Confirmer</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Non !</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            var langue = "{{ langue }}";
            var id;
            var wordRemove;

            $('.modal').modal();

            $('.supprimer').click(function(e)
            {
                id = this.getAttribute("data-parent");
                wordRemove = $(this).parent("td");
            });

            $('#confirmDelete').click(function(e)
            {
                $.ajax
                (
                    {
                        type: "POST",
                        url: "{{ path('lacces_editData_remove') }}",
                        data: {'id':id, 'langue':langue },
                        success: function(msg)
                        {
                            $(this).delay(1200,function(){
                                wordRemove.slideUp(500,function() {
                                });
                            });
                        }
                    }
                );
            });
        });
    </script>
{% endblock %}