{% extends '@Lacces/Administration/administration.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/signaire.css') }}">
{% endblock %}

{% block title %}Liste des mots{% endblock %}

{% block body %}

    <div class="container-body">
        <main>
            <div class="container">
                {% block message_flash %}
                    {% for msg in app.session.flashBag.get('info') %}
                        <div id="center-message">
                            <div class="message-flash background-color-orange-lacces">
                                <p>{{ msg }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
                <div class="row center">
                    {% if langue == 'fr' %}
                        <a class="btn btn-hover background-color-orange-lacces" href="{{ asset('administration/editData/wordList/en') }}">Passer en Anglais</a>
                    {% else %}
                        <a class="btn btn-hover background-color-orange-lacces" href="{{ asset('administration/editData/wordList/fr') }}">Passer en Français</a>
                    {% endif %}
                    <a class="btn btn-hover background-color-orange-lacces" href="{{ asset('administration/editData/add') }}">Ajouter un mot</a>
                </div>

                <ul class="collapsible collapsible-accordion">
                    {% for letter in 'a'..'z' %}
                        <li class="bold white">
                            <a class="collapsible-header waves-effect color-orange-lacces collapsible-ASL">
                                <div id="lettreMaj">
                                    {{ letter|upper }}
                                </div>
                                <i class="material-icons material-icons_arrow_drop_down left" id="fleche">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <table class="striped">
                                    <tbody>
                                        {% if langue == 'fr' %}
                                            <div id="motFr">
                                                {% for w in wordFr %}
                                                    {% if w.word|first|lower == letter %}
                                                        <tr>
                                                            <td>
                                                                <a class="flow-text black-text" id="word" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/fr') }}">{{ w.word }}</a>
                                                            </td>
                                                            <td>
                                                                <a class="btn-flat btn-flat-hover flow-text tooltipped right supprimer modal-trigger" id="supprimer" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Supprimer" href="#modal1">
                                                                    <i class="material-icons color-violet-lacces">delete_forever</i>
                                                                </a>
                                                                <a class="btn-flat btn-flat-hover flow-text tooltipped right" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Editer" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/fr') }}">
                                                                    <i class="material-icons color-violet-lacces">edit</i>
                                                                </a>
                                                                <a class="btn-flat btn-flat-hover flow-text tooltipped right" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Ajouter une traduction" href="{{ asset('administration/editData/addTranslation/' ~ w.id ~ '/en') }}">
                                                                    <i class="material-icons color-violet-lacces">add</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            <div id="motEn">
                                                {% for w in wordEn %}
                                                    {% if w.word|first|lower == letter %}
                                                        <tr>
                                                            <td>
                                                                <a class="flow-text black-text" id="word" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/en') }}">{{ w.word }}</a>
                                                                <a class="btn-flat btn-flat-hover flow-text tooltipped right supprimer modal-trigger" id="supprimer" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Supprimer" href="#modal1">
                                                                    <i class="material-icons color-violet-lacces">delete_forever</i>
                                                                </a>
                                                                <a class="btn-flat btn-flat-hover flow-text tooltipped right" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Editer" href="{{ asset('administration/editData/edit/' ~ w.id ~ '/en') }}">
                                                                    <i class="material-icons color-violet-lacces">edit</i>
                                                                </a>
                                                                <a class="btn-flat btn-flat-hover flow-text tooltipped right" data-parent="{{ w.id }}" data-position="bottom" data-tooltip="Ajouter une traduction" href="{{ asset('administration/editData/addTranslation/' ~ w.id ~ '/fr') }}">
                                                                    <i class="material-icons  color-violet-lacces">add</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <p class="flow-text"><strong>Êtes-vous sûr de vouloir supprimer le mot ?</strong></p>
                <p class="flow-text">La traduction du mot et l'ensemble des exercices associés seront également supprimer.</p>
            </div>
            <div class="modal-fixed-footer">
                <div class="modal-footer">
                    <a class="modal-close waves-effect btn-flat btn-flat-hover">
                        Annuler
                        <i class="material-icons right">cancel</i>
                    </a>
                    <a id="confirmDelete" class="modal-close background-color-orange-lacces btn-hover waves-effect btn">
                        Confirmer
                        <i class="material-icons right">delete_forever</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){

            let langue = "{{ langue }}";
            let id;
            let wordRemove;

            $('.modal').modal();

            $('.supprimer').click(function()
            {
                id = this.getAttribute("data-parent");
                wordRemove = $(this).parent().parent("tr");
            });

            $('#confirmDelete').click(function()
            {
                $.ajax
                (
                    {
                        type: "POST",
                        url: "{{ path('lacces_editData_remove') }}",
                        data: {'id':id, 'langue':langue },
                        success: function()
                        {
                            $(this).delay(600,function(){
                                wordRemove.slideUp(300,function() {
                                });
                            });
                        }
                    }
                );
            });
        });
    </script>
{% endblock %}