{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Modifier le mot "{{ word }}"{% endblock %}

{% block body %}

    <div class="container-body">

        <main class="container-main-center">
            <div class="container">
                <div class="row center">
                    <h3>Modifier le mot "{{ word }}"</h3>
                </div>
                {{ include('@Lacces/formEditWord.html.twig') }}
                <div class="row center">
                    <a id="btn-langue" class="btn background-color-orange-lacces" href="../../wordList/{{ langue }}">Retour</a>
                </div>
            </div>
        </main>
    </div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/js_for_views/contact.js') }}"></script>
{% endblock %}
