{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/css_for_views/signaire.css') }}">
    <link rel="stylesheet" href="{{ asset('css/css_for_views/langue.css') }}">
    <link rel="stylesheet" href="{{ asset('css/css_for_views/wordList.css') }}">

{% endblock %}

{% block title %}Liste des mots{% endblock %}

{% block body %}

    <div class="container-body">
        <main>
            <div class="container">
                {% block message_flash %}
                    {% for msg in app.session.flashBag.get('info') %}
                        <div id="center-message">
                            <div class="message-flash background-color-orange-lacces">
                                <p>{{ msg }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
                <div class="row center">
                    {% if langue == 'fr' %}
                        <a id="btn-langue" class="btn background-color-orange-lacces" href="en">Passer en Anglais</a>
                    {% else %}
                        <a id="btn-langue" class="btn background-color-orange-lacces" href="fr">Passer en Français</a>
                    {% endif %}
                    <a id="btn-langue" class="btn background-color-orange-lacces" href="../add">Ajouter un mot</a>
                </div>


                <ul class="collapsible collapsible-accordion">
                    {% for letter in 'a'..'z' %}
                        <li class="bold">
                            <a class="collapsible-header waves-effect collapsible-ASL">
                                <div id="lettreMaj">
                                    {{ letter|upper }}
                                    <i class="material-icons material-icons_arrow_drop_down" id="fleche">arrow_drop_down</i>
                                </div>
                            </a>
                            <div class="collapsible-body">
                                <ul>

                                    {% if langue == 'fr' %}
                                    <div id="motFr">
                                        {% for w in wordFr %}
                                            {% if w.word|first|lower == letter %}
                                                <li class="white">
                                                    <a class="flow-text" id="word" href="../edit/{{ w.id }}/fr">{{ w.word }}</a>
                                                    <a class="flow-text supprimer" id="supprimer" data-parent="{{ w.id }}" href="#">Supprimer</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <div id="motEn">
                                        {% for w in wordEn %}
                                            {% if w.word|first|lower == letter %}
                                                <li class="white">
                                                    <a class="flow-text" id="word" href="../edit/{{ w.id }}/en">{{ w.word }}</a>
                                                    <a class="flow-text supprimer" id="supprimer" data-parent="{{ w.id }}" href="#">Supprimer</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}

                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="row center">
                    <a id="btn-langue" class="btn background-color-orange-lacces" href="../../">Retour</a>
                </div>
            </div>
        </main>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function ()
        {
            $('.supprimer').click(function(e)
            {
                e.preventDefault();
                var id = this.getAttribute("data-parent");
                var langue = "{{ langue }}";
                var wordRemove = $(this).parent("li");

                if(confirm('Supprimer cet élément ?'))
                {
                    $.ajax
                    (
                        {
                        type: "POST",
                        url: "{{ path('lacces_editData_remove') }}",
                        data: {'id':id, 'langue':langue },
                        success: function(msg)
                        {
                            $(this).delay(1200,function(){
                                wordRemove.slideUp(500,function() {
                                });
                            });
                        }}
                    );
                }
            });
        });
    </script>
{% endblock %}