

{{ form_start(form)}}

<div class="row center">
    <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons color-orange-lacces prefix">account_circle</i>
        {{ form_label(form.username)}}
        {{ form_widget(form.username)}}
        <div id="error_name"></div>
        <span class="red-text">{{ form_errors(form.username)}}</span>
    </div>
</div>

<div class="row center">
    <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons color-orange-lacces prefix">email</i>
        {{ form_label(form.email)}}
        {{ form_widget(form.email)}}
        <div id="error_mail"></div>
        <span class="red-text">{{ form_errors(form.email)}}</span>
    </div>
</div>

<div class="row center">
    <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons color-orange-lacces prefix">vpn_key</i>
        {{ form_label(form.password.first)}}
        {{ form_widget(form.password.first)}}
        <div id="error_pw"></div>
    </div>
    <div class="input-field col s12 m6 offset-m3">
        <i class="material-icons color-orange-lacces prefix">vpn_key</i>
        {{ form_label(form.password.second)}}
        {{ form_widget(form.password.second)}}
        <span class="red-text">{{ form_errors(form.password.first)}}</span>
    </div>
</div>

<div class="row center">
    {{ form_widget(form.submit) }}
</div>

{{ form_end(form)}}






