{{ form_start(form)}}
<div class="row center">
    <a href="#modalHelp" class="btn-flat btn-flat-hover waves-effect modal-trigger">
        Ajout d'un lien vidéo
        <i class="material-icons right">help</i>
    </a>
</div>

<div class="row">
    <div class="input-field col s12 m6 offset-m3">
        {{ form_label(form.word)}}
        {{ form_errors(form.word)}}
        {{ form_widget(form.word)}}
    </div>
</div>



<div class="row">
    <div class="input-field col s12 m6 offset-m3">
        {{ form_label(form.videoLink)}}
        {{ form_errors(form.videoLink)}}
        {{ form_widget(form.videoLink)}}
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6 offset-m3">
        {{ form_label(form.contextSentence)}}
        {{ form_errors(form.contextSentence)}}
        {{ form_widget(form.contextSentence)}}
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6 offset-m3">
        {{ form_label(form.videoLinkSentence)}}
        {{ form_errors(form.videoLinkSentence)}}
        {{ form_widget(form.videoLinkSentence)}}
    </div>
</div>

<div class="row center">
    <a class="btn-flat btn-flat-hover waves-effect" href="{{ asset('administration/editData/wordList/' ~ langue) }}">Retour</a>
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form)}}

<div id="modalHelp" class="modal">
    <div class="modal-content">
        <div class="video-container">
            <video class="responsive-video" width="1100" height="619" controls>
                <source src="{{ asset('videos/Ajout_lien_video.mp4') }}" type="video/mp4">
                Votre navigateur ne supporte pas la balise video
            </video>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect btn-flat btn-flat-hover">
            Fermer
            <i class="material-icons right">close</i>
        </a>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.modal').modal();
    });
</script>

