{{ form_start(form)}}

{% if langue == "fr" %}
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.wordFr)}}
            {{ form_errors(form.wordFr)}}
            {{ form_widget(form.wordFr)}}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.videoLinkFr)}}
            {{ form_errors(form.videoLinkFr)}}
            {{ form_widget(form.videoLinkFr)}}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.contextSentenceFr)}}
            {{ form_errors(form.contextSentenceFr)}}
            {{ form_widget(form.contextSentenceFr)}}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.videoLinkSentenceFr)}}
            {{ form_errors(form.videoLinkSentenceFr)}}
            {{ form_widget(form.videoLinkSentenceFr)}}
        </div>
    </div>

{% elseif langue == "en" %}
    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.wordEn)}}
            {{ form_errors(form.wordEn)}}
            {{ form_widget(form.wordEn)}}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.videoLinkEn)}}
            {{ form_errors(form.videoLinkEn)}}
            {{ form_widget(form.videoLinkEn)}}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.contextSentenceEn)}}
            {{ form_errors(form.contextSentenceEn)}}
            {{ form_widget(form.contextSentenceEn)}}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m6 offset-m3">
            {{ form_label(form.videoLinkSentenceEn)}}
            {{ form_errors(form.videoLinkSentenceEn)}}
            {{ form_widget(form.videoLinkSentenceEn)}}
        </div>
    </div>

{% endif %}

<div class="row center">
    <a class="btn-flat btn-flat-hover waves-effect" href="{{ asset('administration/editData/wordList/fr') }}">Retour</a>
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form)}}





