{{ form_start(form)}}


<div class="row">


    <div class="input-field col s6">
        <i class="material-icons color-orange-lacces prefix">account_circle</i>
        {{ form_label(form.prenom)}}
        {{ form_errors(form.prenom)}}
        {{ form_widget(form.prenom)}}
    </div>
    <div class="input-field col s6">
        <i class="material-icons color-orange-lacces prefix">account_circle</i>
        {{ form_label(form.nom)}}
        {{ form_errors(form.nom)}}
        {{ form_widget(form.nom)}}
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <i class="material-icons color-orange-lacces prefix">email</i>
        {{ form_label(form.Email)}}
        {{ form_errors(form.Email)}}
        {{ form_widget(form.Email)}}
    </div>
</div>


<div class="row">
    <div class="input-field col s12">
        <i class="material-icons color-orange-lacces prefix">message</i>
        {{ form_label(form.message)}}
        {{ form_errors(form.message)}}
        {{ form_widget(form.message)}}
    </div>
</div>
<div class="row center">
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form)}}



