{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css_for_views/index/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/css_for_views/searchBarre.css') }}">
{% endblock %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="container-body">
        <main>
            <div class="container">
                {% block message_flash %}
                    {% for msg in app.session.flashBag.get('info') %}
                         <div class="message-flash background-color-orange-lacces">
                             <p>{{ msg }}</p>
                         </div>
                    {% endfor %}
                {% endblock %}
                <div class="container-main-flex">
                    <div class="container-main">
                        <section class="container-focus">
                            <div class="row center row-container">
                                <div class="center row-flag">
                                    <div class="container-img-flag">
                                        <img class="z-depth-2 clickFlag" id="imgFr" alt="Choisir langue française" src="{{ asset('pictures/flags/flagLSF.png') }}"/>
                                    </div>
                                    <div class="container-img-flag">
                                        <img class="z-depth-2 clickFlag" id="imgEn" alt="Choose american language" src="{{ asset('pictures/flags/flagASL.png') }}"/>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="container-search">
                                    {% include('@Lacces/SearchBarre/searchBarre.html.twig') %}
                                </div>
                                {% for message in app.flashes('info') %}
                                    <div>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                        <section id="sentence-content" class="container-focus">
                            <div class="row center">
                                <p class="flow-text index-text">Face à Face français LSF anglais ASL</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer id="footer-index" class="container-focus-footer">
            <div class="container-footer">
                <div class="container center">
                    <div class="row row-footer">
                        <div class="container-row-link">
                            <div class="col s4 m4">
                                <a href="{{ asset('faq') }}">
                                    FAQ
                                </a>
                            </div>
                            <div class="col s4 m4">
                                <a href="{{ asset('mentions_legales') }}">
                                    Mentions légales
                                </a>
                            </div>
                            <div class="col s4 m4">
                                <a href="{{ asset('contact') }}">
                                    Contact
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider">
                </div>
                <div class="container center">
                    <div class="row row-footer">
                        <div class="container-row-icons">
                            <a href="">
                                <div class="container-icons">
                                    <img alt="Lien vers la page facebook" src="{{ asset('pictures/icons/facebook-f-white.svg') }}"/>
                                </div>
                            </a>
                            <a href="">
                                <div class="container-icons">
                                    <img alt="Partager le l'application" src="{{ asset('pictures/icons/share-alt-white.svg') }}"/>
                                </div>
                            </a>
                            <a href="http://consortium-lacces-lsf-pour-tous.fr/">
                                <div class="container-icons">
                                    <img alt="Lien vers le site du consortium L@cces" src="{{ asset('pictures/icons/globe-white.svg') }}"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/js_for_views/radio.js') }}"></script>
    <script src="{{ asset('js/js_for_views/searchBarreFocus.js') }}"></script>
{% endblock %}
