{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/css_for_views/index.css') }}">
  <link rel="stylesheet" href="{{ asset('css/css_for_views/radio.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main>
    <div class="container">
        <section>

            <div class="row center row-container">

                <div class="row center">
                    <p>Choisissez la langue</p>
                </div>

                <div class="row center row-flag">
                    <div class="container-img-flag">
                        <img class="z-depth-2" id="imgFr" src="{{ asset('pictures/flags/flagLSF.png') }}"/>
                    </div>
                    <div class="container-img-flag">
                        <img class="z-depth-2" id="imgEn" src="{{ asset('pictures/flags/flagASL.png') }}"/>
                    </div>
                </div>
            </div>
            <!--
            <div class="row b-flag">
            sectionv class="col s1 x2">
                </div>
                <div class="col s5 x4">
                    <img class="z-depth-2" id="imgFr" src="{{ asset('pictures/flags/flagLSF.png') }}"/>
                </div>
                <div class="col s5 x4">
                    <img class="z-depth-2" id="imgEn" src="{{ asset('pictures/flags/flagASL.png') }}"/>
                </div>
                <div class="col s1 x2">
                </div>
            </div>-->
            <div id="radiobtn">
              <div>
                <label>
                  <input type="radio" id="btnFr" name="langue" checked="true"/>
                  <span>fr</span>
                </label>
              </div>
              <div>
                <label>
                  <input type="radio" name="langue" id="btnEn"/>
                  <span>en</span>
                </label>
              </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col s1 m2 x2 xl2"></div>
                <div class="col s10 m8 x8 xl8">
                    {{ render(controller("LaccesBundle:Default:searchBarre")) }}
                </div>
                <div class="col s1 m2 x2 xl2"></div>
            </div>
        </section>
        <section>
            <div class="row">
                <p class="center">
                    Le français anglais signé en vidéo et en face à face
                </p>
            </div>
        </section>
    </div>
<footer>
  <div class="container footer">
    <div class="row">
      <div class="col s4 m4">
          <a href="{{ asset('faq') }}">
              FAQ
          </a>
      </div>
      <div class="col s4 m4">
          <a href="{{ asset('mentions_legales') }}">
              Mentions légales
          </a>
      </div>
      <div class="col s4 m4">
          <a href="{{ asset('contact') }}">
              Contact
          </a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% block javascripts %}
<script>
  $(function(){
    var tabFr = [
    {% for w in wordFr %}
      "{{ w.word }}",
    {% endfor %}
    ];
    var tabEn = [
    {% for w in wordEn %}
      "{{ w.word }}",
    {% endfor %}
    ];
    $("#search-barre").keyup(function() {
      if($("#btnFr").is(':checked')){
        $("#search-barre").autocomplete({
          source: tabFr
        });
      }

      if($("#btnEn").is(':checked')){
        $("#search-barre").autocomplete({
          source: tabEn
        });
      }
    });
  });
</script>
<script src="{{ asset('js/js_for_views/radio.js') }}"></script>
{% endblock %}
