{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/css_for_views/index.css') }}">
  <link rel="stylesheet" href="{{ asset('css/css_for_views/radio.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main class="container-main">
    <div class="container">
        <section class="container-focus">

            <div class="row center row-container">
                <div class="row center row-flag">
                    <div class="container-img-flag">
                        <img class="z-depth-2" id="imgFr" src="{{ asset('pictures/flags/flagLSF.png') }}"/>
                    </div>
                    <div class="container-img-flag">
                        <img class="z-depth-2" id="imgEn" src="{{ asset('pictures/flags/flagASL.png') }}"/>
                    </div>
                </div>
            </div>

            <div id="radiobtn">
                <div>
                    <label>
                        <input type="radio" id="btnFr" name="langue" checked="true"/>
                    <span>fr</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="langue" id="btnEn"/>
                        <span>en</span>
                    </label>
                </div>
            </div>
        </section>
        <section id="container-search">
            <div class="row">
                    {% include('@Lacces/SearchBarre/searchBarre.html.twig') %}
            </div>
        </section>
        <section class="container-focus">
            <div class="row">
                <p class="flow-text center">
                    Le français anglais signé en vidéo et en face à face
                </p>
            </div>
        </section>
    </div>
</main>
<footer class="container-focus">
    <div class="center footer">
        <div class="container">
            <div class="row row-footer">
                <div class="container-row-link">
                    <div class="col s4 m4">
                        <a href="{{ asset('faq') }}">
                            FAQ
                        </a>
                    </div>
                    <div class="col s4 m4">
                        <a href="{{ asset('mentions_legales') }}">
                            Mentions légales
                        </a>
                    </div>
                    <div class="col s4 m4">
                        <a href="{{ asset('contact') }}">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider">
        </div>
        <div class="container">
            <div class="row center row-footer">
                <div class="container-row-icons">
                    <a href="">
                        <div class="container-icons">
                            <img id="facebook-icon" src="{{ asset('pictures/icons/facebook-f-white.svg') }}"/>
                        </div>
                    </a>
                    <a href="">
                        <div class="container-icons">
                            <img id="share-icon" src="{{ asset('pictures/icons/share-alt-white.svg') }}"/>
                        </div>
                    </a>
                    <a href="">
                        <div class="container-icons">
                            <img id="globe-icon" src="{{ asset('pictures/icons/globe-white.svg') }}"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/js_for_views/radio.js') }}"></script>
{% endblock %}
