<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>L@cces - {% block title %}Administration{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{{ asset('css/jquery_materialize/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/base/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/base/baseMQ768.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/base/baseMQ602.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css_for_views/administration/base.css') }}">
        {% block stylesheets %}

        {% endblock %}

        <script src="{{ asset('js/jquery_materialize/jquery.js') }}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="theme-color" content="#212121">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="grey lighten-5">
        <div class="navbar-fixed">
            <div class="nav-wrapper">
                <nav class="nav-wrapper grey darken-4">
                    <div class="btn-menu">
                        <a href="" class="sidenav-trigger show-on-large" data-target="slide-out">
                            <i class="material-icons white-text">menu</i>
                        </a>
                    </div>
                    <div id="container_logo_lacces">
                        <a href="{{ asset('') }}" class="brand-logo center">
                            <img id="logo_lacces" alt="Logo L@cces" src={{ asset('pictures/logo/logo_lacces_white.png') }}/>
                        </a>
                    </div>
                    <div class="nav-link">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn waves-effect background-color-orange-lacces white-text center btn-log" href="{{ path('lacces_homepage') }}">
                                Lacces
                            </a>
                            <a class="btn waves-effect background-color-violet-lacces white-text center btn-log" href="{{ path('logout') }}">
                                Déconnexion
                            </a>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>

        <ul class="sidenav grey darken-4" id="slide-out">
            <li class="sidenav-close">
                <a class="sidenav-close waves-effect">
                    <i class="material-icons white-text">arrow_back</i>
                </a>
            </li>
            {% if app.request.attributes.get('_route') == 'administration' %}
            <li class="bold active active-item-menu background-color-violet-lacces">
            {% else %}
            <li class="bold">
            {% endif %}
                <a class="waves-effect" href="{{ asset('administration') }}">Accueil</a>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect" id="collapsible-header-click">Gestion des mots<i class="material-icons white-text right" id="material-icons_arrow_drop_down">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                {% if app.request.attributes.get('_route') == 'lacces_editData_add' %}
                                <li class="active active-item-menu background-color-violet-lacces">
                            {% else %}
                                <li class="grey darken-4">
                                    {% endif %}
                                    <a class="waves-effect" href="{{ asset('administration/editData/add') }}">Ajouter un mot</a>
                                </li>
                                {% if app.request.attributes.get('_route') == 'lacces_wordList' %}
                                <li class="active active-item-menu background-color-violet-lacces" id="liImg">
                            {% else %}
                                <li class="grey darken-4" id="liImg">
                                    {% endif %}
                                    <a class="waves-effect" href="{{ asset('administration/editData/wordList/fr') }}">Editer les mots</a>
                                </li>
                                <li>
                                    <div class="divider"></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <noscript class="background-color-orange-lacces white-text center flow-text">
            <div class="container">
                <div class="row">
                    <div class="col s2 m2 x2">
                        <i class="material-icons">warning</i>
                    </div>
                    <div class="col s10 m10 x10">
                        <p>
                            Javascript doit être activé pour une utilisation optimal de l'application !
                        </p>
                    </div>
                </div>
            </div>
        </noscript>
        {% block body %}
        {% endblock %}
    </body>
    <script src="{{ asset('js/jquery_materialize/materialize.min.js') }}"></script>
    <script src="{{ asset('js/js_for_views/base.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</html>
