<form method="POST">
    <div id="search-on">
        <div class="input-field">
            <input name="search-barre" class="autocomplete search" type="text" id="search-barre" autocomplete="off" placeholder="Rechercher un mot" />
            <div id="test"></div>
            <a id="material-icons-dropdown-flag" class='dropdown-trigger btn-flat' href='#' data-target='dropdown-flag'>
                <i class="material-icons">arrow_drop_down</i>
            </a>
            <ul id='dropdown-flag' class='dropdown-content'>
                <li>
                    <img id="imgFlagEn" class="image-flag-drowpdown clickFlag" src="{{ asset('pictures/flags/FlagEN_SearchBar.jpg') }} ">
                </li>
                <li class="divider" tabindex="-1"></li>
                <li>
                    <img id="imgFlagFr" class="image-flag-drowpdown clickFlag" src="{{ asset('pictures/flags/FlagFR_SearchBar.jpg') }}">
                </li>
            </ul>
            <button class="btn-flat" id="btnSearch" >
                <i class="material-icons orange-text">search</i>
            </button>

            <div id="close-barre" class="btn-floating background-color-orange-lacces">
                <i class="material-icons white-text">close</i>
            </div>
        </div>
    </div>
</form>

<div id="background-search"></div>

<div id="radiobtn">
    <div>
        <label>
            <input type="radio" id="btnFr" name="langue" checked="true"/>
            <span>fr</span>
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="langue" id="btnEn"/>
            <span>en</span>
        </label>
    </div>
</div>
<script src="{{ asset('js/jquery_materialize/jquery.js') }}"></script>
<script src="{{ asset('js/jquery_materialize/materialize.min.js') }}"></script>
<script>
    
$('document').ready(function () {
    actualiserTableau("fr");
    $("input[type=radio][name='langue']:checked").change(function () {
        if ($("#btnFr:checked")) {
            actualiserTableau("fr");
        } else if ($("#btnEn:checked")) {
            actualiserTableau("en");
        }
    });

    $('#btnSearch').click(function () {
        submitSearch();
    })

    function actualiserTableau(langue) {
        $.ajax({
            url: "{{ path('auto_complete') }}",
            type: 'POST',
            cache: false,
            data: {'l':langue},
            success: function (response) {
                console.log(response[1].word);
                var mots = new Object();
                if(response){
                    for(i = 0; i<response.length; i++){
                        mots[response[i].word] = null;
                    }
                    console.log(mots);
                    $('#search-barre').autocomplete({
                        data: mots,
                        limit: 10
                    });
                }
            },
            error: function (err) {
            }
        });
    };

    function submitSearch(){
        var  word = $('#search-barre').val();
        var langue;
        if($("#btnFr").is(":checked")) {
            langue = "fr";
        }else if($("#btnEn").is(":checked")) {
            langue = "en";
        }else{
            langue = "";
        }

        if(word && langue){
            $('form').attr('action', "/word/"+langue+"/"+word);
            $('form').submit();
        }else{
            $('form').removeAttr('action');
        }
    }

    $('#search-barre').keyup(function(e) {
        if (e.keyCode == 13) {
            submitSearch();
        }
    });

    $('.image-flag-drowpdown').click(function () {
        if ($("#btnEn").is(":checked")) {
            $("#btnEn").removeAttr("checked");
            $("#btnFr").attr("checked", true);
        } else if ($("#btnFr").is(":checked")) {
            $("#btnFr").removeAttr("checked");
            $("#btnEn").attr("checked", true);
        }
    });
});
</script>
