<div class="test col s12">
    {% if not obj_exerciceFrA2 and not obj_exerciceEnA2 %}
        <div class="card">
            <div class="card-content center black-text flow-text">
                <i class="material-icons black-text">warning</i>
                <p>{{ messageErreur }}</p>
            </div>
        </div>
    {% else %}
    <div class="card">
        <div class="card-content center black-text flow-text">
            <p>
                Lisez chaque phrase en français et en anglais. Etudiez les correspondances et / ou les différences.
            </p>
        </div>
    </div>
    <section>
        <div class="row">
            <article>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-title">
                            <p class="center black-text flow-text">
                                {{ wordFr }}
                            </p>
                        </div>
                        <div id="card-image-1" class="card-image">
                            <div class="video-container">
                                <iframe width="1100" height="619" src="{{ obj_exerciceFrA2.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div id="card-content-1" class="card-content">
                            <p class="flow-text black-text">
                                {{ obj_exerciceFrA2.contextSentence }}
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-title">
                            <p class="center black-text flow-text">
                                {{ wordEn }}
                            </p>
                        </div>
                        <div id="card-image-2" class="card-image">
                            <div class="video-container">
                                <iframe width="1100" height="619" src="{{ obj_exerciceEnA2.videoLink }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div id="card-content-2" class="card-content">
                            <p class="flow-text black-text">
                                {{ obj_exerciceEnA2.contextSentence }}
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    {% endif %}
</div>