<div class="col s12 m12 l8 offset-l2">
    {% if not obj_exerciceB %}
        <div class="card">
            <div class="card-content center black-text flow-text">
                <i class="material-icons black-text">warning</i>
                <p>{{ messageErreur }}</p>
            </div>
        </div>
    {% else %}
    <div class="card">
        <div class="card-content center black-text flow-text">
            <p>
                QCM. Cochez la bonne réponse
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <p class="flow-text black-text">
                {{ obj_exerciceB.question }}
            </p>
        </div>
        <div class="card-content">
            <form id="form-qcm">
                {% for item in tableauReponses %}
                    <div class="row">
                        <div class="container-qcm">
                            <label>
                                <input name="group-qcm" data-qcm-id="{{ item.id }}" class="with-gap" type="radio"/>
                                <span>{{ item.enonces }}</span>
                            </label>
                            <div class="right"></div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
    {% endif %}
</div>
<script>
    $("input:radio[name=group-qcm]").on("click", function () {
        check();
    });
    function check(){
        $("input:radio[name=group-qcm]").each(function () {
            if($(this).is(":checked")){
                var valueIn = $(this).attr("data-qcm-id");
                if(valueIn.toString() === "{{ solution }}") {
                    $(this).parent().next().html("<i id=\"result-done\" class=\"result material-icons small green-text\">done</i>");
                    $("#form-qcm input").attr("disabled", "disabled");
                } else {
                    $(this).parent().next().html("<i id=\"result-done\" class=\"result material-icons small red-text\">clear</i>");
                    $(this).attr("disabled", "disabled");
                }
            }
        });
    }
</script>