{% extends '@Lacces/Administration/administration.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Exercices Fr{% endblock %}

{% block body %}
<div class="container-body">
    <main>
        <div class="container">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect collapsible-ASL">
                        <div class="lettreMaj">
                            Exercice A1
                            <i class="material-icons material-icons_arrow_drop_down">arrow_drop_down</i>
                        </div>
                    </a>
                    <div class="collapsible-body">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Mot correspondant</th>
                                    <th>Solution</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in significationVideo %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordFr.word }}
                                        </td>
                                        <td class="flow-text black-text">{{ e.solution }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect collapsible-ASL">
                        <div class="lettreMaj">
                            Exercice A2
                            <i class="material-icons material-icons_arrow_drop_down">arrow_drop_down</i>
                        </div>
                    </a>
                    <div class="collapsible-body">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Mot correspondant</th>
                                    <th>Enoncé</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for e in comparaisonVideo %}
                                <tr>
                                    <td class="flow-text black-text">
                                        {{ e.wordFr.word }}
                                    </td>
                                    <td class="flow-text black-text">{{ e.contextSentence }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect collapsible-ASL">
                        <div class="lettreMaj">
                            Exercice B
                            <i class="material-icons material-icons_arrow_drop_down">arrow_drop_down</i>
                        </div>
                    </a>
                    <div class="collapsible-body">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Mot correspondant</th>
                                    <th>Enoncé</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in qcm %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordFr.word }}
                                        </td>
                                        <td class="flow-text black-text">{{ e.question }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect collapsible-ASL">
                        <div class="lettreMaj">
                            Exercice C
                            <i class="material-icons material-icons_arrow_drop_down">arrow_drop_down</i>
                        </div>
                    </a>
                    <div class="collapsible-body">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Mot correspondant</th>
                                    <th>Solution</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in qcmVideo %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordFr.word }}
                                        </td>
                                        <td class="flow-text black-text">{{ e.solution }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="bold">
                    <a class="collapsible-header waves-effect collapsible-ASL">
                        <div class="lettreMaj">
                            Exercice D
                            <i class="material-icons material-icons_arrow_drop_down">arrow_drop_down</i>
                        </div>
                    </a>
                    <div class="collapsible-body">
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Mot correspondant</th>
                                <th>Enoncé</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in reformulation %}
                                <tr>
                                    <td class="flow-text black-text">
                                        {{ e.wordFr.word }}
                                    </td>
                                    <td class="flow-text black-text">{{ e.question }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}