{% extends '@Lacces/Administration/administration.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Exercices En{% endblock %}

{% block body %}
    <div class="container-body">
        <main>
            <div class="container">
                <div class="row center">
                    <a class="btn background-color-orange-lacces btn-hover white-text" href="{{ path('listExerciceFr') }}">Passer en français</a>
                    <a class="btn btn-hover background-color-orange-lacces" href="{{ path('lacces_ex__en_add') }}">Ajouter un exercice</a>
                    <h5>Exercices pour les mots anglais</h5>
                </div>
                <ul class="collapsible collapsible-accordion white">
                    <li class="bold">
                        <a class="collapsible-header waves-effect collapsible-ASL color-orange-lacces">
                            Exercice A1
                            <i class="material-icons material-icons_arrow_drop_down left grey-text darken-1">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                            <table class="striped">
                                <thead>
                                <tr class="black-text">
                                    <th>Mot</th>
                                    <th>Vidéo</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for e in significationVideo %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordEn.word }}
                                        </td>
                                        <td>
                                            <a class="flow-text black-text" href="{{ e.videoLink }}" onclick="window.open(this.href); return false;">Lien de la vidéo</a>
                                        </td>
                                        <td>
                                            <a class="btn-flat btn-flat-hover tooltipped right supprimer modal-trigger" data-position="bottom" data-tooltip="Supprimer" exId="{{ e.id }}" exType="A1" href="#delete">
                                                <i class="material-icons color-violet-lacces">delete_forever</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header waves-effect collapsible-ASL color-orange-lacces">
                            Exercice A2
                            <i class="material-icons material-icons_arrow_drop_down left grey-text darken-1">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                            <table class="striped">
                                <thead>
                                <tr class="black-text">
                                    <th>Mot</th>
                                    <th>Enoncé</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for e in comparaisonVideo %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordEn.word }}
                                        </td>
                                        <td class="flow-text black-text">{{ e.contextSentence }}</td>
                                        <td>
                                            <a class="btn-flat btn-flat-hover tooltipped right supprimer modal-trigger" data-position="bottom" data-tooltip="Supprimer" exId="{{ e.id }}" exType="A2" href="#delete">
                                                <i class="material-icons color-violet-lacces">delete_forever</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header waves-effect collapsible-ASL color-orange-lacces">
                            Exercice B
                            <i class="material-icons material-icons_arrow_drop_down left grey-text darken-1">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                            <table class="striped">
                                <thead>
                                <tr class="black-text">
                                    <th>Mot</th>
                                    <th>Enoncé</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for e in qcm %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordEn.word }}
                                        </td>
                                        <td class="flow-text black-text">{{ e.question }}</td>
                                        <td>
                                            <a class="btn-flat btn-flat-hover tooltipped right supprimer modal-trigger" data-position="bottom" data-tooltip="Supprimer" exId="{{ e.id }}" exType="B" href="#delete">
                                                <i class="material-icons color-violet-lacces">delete_forever</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header waves-effect collapsible-ASL color-orange-lacces">
                            Exercice C
                            <i class="material-icons material-icons_arrow_drop_down left grey-text darken-1">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                            <table class="striped">
                                <thead>
                                <tr class="black-text">
                                    <th>Mot</th>
                                    <th>Vidéo</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for e in qcmVideo %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordEn.word }}
                                        </td>
                                        <td>
                                            <a class="flow-text black-text" href="{{ e.videoLink }}" onclick="window.open(this.href); return false;">Lien de la video</a>
                                        </td>
                                        <td>
                                            <a class="btn-flat btn-flat-hover tooltipped right supprimer modal-trigger" data-position="bottom" data-tooltip="Supprimer" exId="{{ e.id }}" exType="C" href="#delete">
                                                <i class="material-icons color-violet-lacces">delete_forever</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                    <li class="bold">
                        <a class="collapsible-header waves-effect collapsible-ASL color-orange-lacces">
                            Exercice D
                            <i class="material-icons material-icons_arrow_drop_down left grey-text darken-1">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                            <table class="striped">
                                <thead>
                                <tr class="black-text">
                                    <th>Mot</th>
                                    <th>Enoncé</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for e in reformulation %}
                                    <tr>
                                        <td class="flow-text black-text">
                                            {{ e.wordEn.word }}
                                        </td>
                                        <td class="flow-text black-text">{{ e.question }}</td>
                                        <td>
                                            <a class="btn-flat btn-flat-hover tooltipped right supprimer modal-trigger" data-position="bottom" data-tooltip="Supprimer" exId="{{ e.id }}" exType="D" href="#delete">
                                                <i class="material-icons color-violet-lacces">delete_forever</i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <div id="delete" class="modal">
            <div class="modal-content">
                <p class="flow-text">Voulez-vous vraiment supprimer cet exercice ?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat btn-flat-hover">
                    Annuler
                    <i class="material-icons right">cancel</i>
                </a>
                <a id="confirmDelete" class="modal-close background-color-orange-lacces btn-hover waves-effect btn">
                    Confirmer
                    <i class="material-icons right">delete_forever</i>
                </a>
            </div>
        </div>

        <div id="modalError" class="modal">
            <div class="modal-content">
                <p class="flow-text">L'exercice n'a pas été supprimé.</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect btn-flat btn-flat-hover">
                    Fermer
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        var s;
        $('.supprimer').click(function()
        {
            s = $(this);
        });

        $('.modal').modal();

        $('#confirmDelete').click(function (){
            var element = s;
            $.ajax({
                cache: false,
                type: 'POST',
                dataType: 'json',
                url: "{{ path('removeExercice') }}",
                data:{'langue': "en", 'type': element.attr("exType"), 'id': element.attr("exId")},
                success:function () {
                    element.parent().parent().remove();
                },
                error:function () {
                    $('#modalError').modal('open');
                }
            })
        })

    });
</script>
{% endblock %}